.btn-nav {
  background-color: #114d4d;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.img-nav {
  position: absolute;
  width: 77px;
  height: 77px;
  left: 15px;
  top: 11px;
}

.div-img {
  position: absolute;
  width: 103px;
  height: 98px;
  left: 46px;
  top: 0px;
  background: #6e9987;
}
