.div-sup{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: white;
}
.inputs-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.sub-div{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.icon{
    max-height: 40px;
    max-width: 40px;
}
.price-div{
    width: 400px;
    padding-left: 30px;
}