.div-sup {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    margin-top: 100px;
}

.inputs-icon {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 3em;
    padding-left: 3em;


}

.sub-div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub-div input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: dotted;
    width: 40px;
}

.icon {
    max-height: 40px;
    max-width: 40px;
}

.price-div {
    width: 40%;
    padding-left: 5em;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.price-div input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: dotted;
    width: 60px;

}

.form-superficie {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 4em;
}

.input {
    margin-top: 15px;
}

.input input {
    background-color: #AEAEAE;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgba(17, 77, 77, 1);
    ;
    width: 300px;

}

.input input::placeholder {
    color: black;
}

input:focus {
    outline: none
}

textarea {
    background-color: #AEAEAE;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid rgba(17, 77, 77, 1);
    width: 300px;

}

.contenedor-izquierda{
    display: flex;
    flex-direction: column;
}

.contenedor-derecha{
    display: flex;
    flex-direction: column;
}

.loaderrr {
    width: 350px;
    height: 4.8px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
}

.loaderrr::after {
    content: '';
    width: 0%;
    height: 4.8px;
    background-color: #FFF;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.25) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.25) 50%, rgba(0, 0, 0, 0.25) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animFw 6s ease-in infinite;
}

@keyframes animFw {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}